@font-face {
  font-family: Romanesco-regular;
  src: url(../font/OFL.txt);
}
body {font-family: calibri; margin:0px; background-color:black;}
#content-home { background-color:white;}
container {display: grid;
 grid-template-columns: 1fr;}
    /* header */
    header,footer{background-color:black;color:white;display:grid;}
#advertiser {background-color:black; color:white; text-align:center;}
#advertiser h4 {margin:1px; font-weight: 300;}
#logo h2 {margin:0px;}
header {
  border-bottom: 1px solid #333;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
  "nav-sm logo login-checkout";}
  #login-checkout, #nav-sm {display:flex; justify-content:space-evenly;}

  #user-modal-btn,#kassa-modal-btn,#search-modal-button, #meny-modal-button{margin:5px 3px;border-radius: 5px;
    color: white; background-color:#333;}

  #nav li{  display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  font-weight: 800;}
    #nav li a{   text-decoration: none;color:white;}
    #nav li:hover{background-color:grey;}
    #nav{
      padding:0px;
      justify-content:space-between;
      display:flex;}
      #logo {display:flex; align-items: center;     justify-content: center;}

     
      header img {
        width: auto;
        height: 30;
        padding-top:5px;}
      
        #rea1 {display: flex;
          align-items: center;
          justify-content: center;}


#information{
          display: flex;
          align-items: center;
          justify-content: center;
          }

/* footer */
#anmala-nyhetsbrev button, #email, label {width:100%; padding:5px; margin-bottom:10px;}
footer ul {list-style-type:none;     padding-inline-start:0px;}
    footer img { width:60px; }
      #social-media { display:flex; justify-content: space-around;}
  footer div {     display: flex; margin-bottom:15px;
    justify-content: center;}
  footer {
    background-color:black;
    display: grid;
    margin: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "social-media social-media"
  "anmala-nyhetsbrev anmala-nyhetsbrev"
  "footer-nav-1 footer-nav-2";}

#social-media {grid-area:social-media;}
#footer-nav-1{grid-area:footer-nav-1;}
#footer-nav-2{grid-area:footer-nav-2;}
#footer-nav-3{grid-area:footer-nav-3;}
#anmala-nyhetsbrev{grid-area:anmala-nyhetsbrev;}
#logo {grid-area:logo;}
#nav-md {grid-area:nav-md;}
#login-checkout{grid-area:login-checkout;}
#nav-sm {grid-area:nav-sm;}
#information{grid-area:information;}
 #carousel{grid-area:carousel;}
 #nyheter1{grid-area:nyheter1;}
 #rea1{grid-area:rea1;}
 #nyheter2{grid-area:nyheter2;}
 #rea2{grid-area:rea2;}
 #oribe{grid-area:oribe;}
 #redken{grid-area:redken;}
 #images{grid-area:images;}



 #content-home {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "carousel"
"information"
"rea2"
"rea1"
"nyheter2"
"redken"
"images"
"tips"
"nyheter1"
"oribe"
;}

#nyheter1 img, #nyheter2 img {width: 25%;margin:4%;}
#nyheter1 {background-color:#084c51; text-align:center;}
#nyheter2  {background-color:#791a27; text-align:center;}
#rea1{text-align: center; font-family:romanesco-regular; background-color:black; color:white;}
#rea2 {background-color:#242479; text-align:center;}
#rea2 img{width:38%; margin:5%;}
#oribe img, #redken img{width:100%;}
#images {display:flex;}
#images img {width:33%;}


#produkt-sida{flex-flow:row; justify-content: space-evenly;display:flex; flex-wrap:wrap; background-color:white;}
#produkt-sida img {width:150px;}
.produkt {background-color: lightgrey;}
.produkt-namn{text-align:center; margin-bottom:10px;font-size:30px;}
.produkt-pris { float:left;margin-top:5px; margin-left: 15px;margin-bottom: 10px;}

.produkt-btn button{float:right;margin-right: 15px;}



.modal, .modal1, .modal2, .modal3 {
  display: none;
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: white;
  margin: 10% auto; 
  padding: 20px;
  border: 1px solid black;
  width: 80%;
}


.close,.close1, .close2, .close3 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus,.close1:hover,
.close1:focus,.close2:hover,
.close2:focus,.close3:hover,
.close3:focus   {
  color: black;
  text-decoration: none;
}






.carousel img{width:100%; height:200px;}



.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}












#content-produkt{background-color:white;}
#content-kontakt{
  background-color: white;
display: flex;
align-items: center;
justify-content: center;
}
.kontakt-form{background-color:white; width:100%;padding:20px;}
input[type=text], .boxed textarea, input[type="password"], input[type="email"] {width:100%; border-radius:5px;}
input[type=text], input[type="password"],input[type="email"] {padding: 5px;
  margin: 5px 0px;}
  .kontakt-form h3 {margin-top:0px;}
  textarea{margin: 10px 0px;}
.kontakt-form button {border-radius:5px;}
.boxed button, .modal-content button,   { border-radius: 5px; color:white; background-color:black;}
.boxed button {float:right;}
#newuser {display:none;}







@media screen and (max-width: 767px) {
    .hide-on-mobile {display:none;}








}
@media screen and (min-width: 768px) {
  #logo {  padding-left: 10px;justify-content: start;}.nav-md { display: flex; justify-items: center; }
    .hide-on-tablet, .hide-on-desktop, #nav-sm {display:none;}
      header {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: auto;
      grid-template-areas: 
    "logo nav-md nav-md nav-md login-checkout";}
    footer{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
      grid-template-rows: auto;
      grid-template-areas: 
    ". social-media social-media social-media ."
    "anmala-nyhetsbrev anmala-nyhetsbrev footer-nav-1 footer-nav-2 footer-nav-3";}
         header img {
          width: auto;
          height: 30;
          padding-top:20px;}

          .produkt:hover {font-weight: 800;}
          .produkt button:hover{background-color:darkolivegreen;} 

          .produkt:hover {background-color: grey;}
          #produkt-sida {
            width: 80%;
            margin-left: auto;
            margin-right: auto;}
            #produkt-sida img {width:320px;}
          
          .carousel img{height:800px;}

          .boxed {    width: 50%;
            margin-right: auto;
            margin-left: auto;
        }
        .modal-content {width:50%;}
          .kontakt-form{width:30%;}
          #user-modal-btn,#kassa-modal-btn, #meny-modal-button , #search-modal-button{
            height: 35px;
            margin-top: 22px;
            margin-bottom:0px;
        }

      #content-home {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "information information" 
        "carousel carousel"
      "redken nyheter2"
      "oribe rea1"
      "rea2 nyheter1"
      "images images"
      ;}
      
  }

   

 